img {
    width: 500px;
    height: 810px;
    display: flex;
    margin: 0px;
    border: 0px;
}

.credit {
    position: fixed;
    font-weight: 500;
    left: 140px;
    bottom: 60px;
    color: white;
    text-decoration: none;
}

.credit:visited {
    color: white;
}