body{
    margin: 0;
    display: flex;
}


img {
    width: 500px;
    height: 835px;
    display: flex;
    margin: 0px;
    border: 0px;
}

.credit {
    position: fixed;
    font-weight: 500;
    font-size: medium;
    left: 140px;
    bottom: 15px;
    color: beige;
    text-decoration: none;
}

a:visited {
    color: beige;
}